<img src="https://pad.gwdg.de/uploads/08e0f09e-ed2d-463f-8f92-e7ea3c661d18.png" width="40%">

# **Societal Challenges Datathon - Lecture 1**
#### 16 October 2024
<br>
Ann-Kathrin Edrich (edrich@mbd.rwth-aachen.de)<br>
Anna Simson (simson@mbd.rwth-aachen.de)<br>
Nazanin Bagherinejad (bagherinejad@mbd.rwth-aachen.de)<br>
<br>

In [54]:
import pandas as pd
import os
import numpy as np
from helper import *

## **1. Datasets**

Throughout this semester, we will be using the latest **National Health and Nutrition Examination Survey (NHANES)** dataset, which spans from **August 2021 to August 2023**. NHANES is a critical resource for understanding the health and nutritional status of the U.S. population. It is widely used for **public health research**, **policy-making**, and understanding trends in **chronic diseases**, **nutritional habits**, and **socioeconomic health disparities**.

You can find the complete dataset [here.]( https://wwwn.cdc.gov/Nchs/Nhanes/search/datapage.aspx?Component=Questionnaire&Cycle=2021-2023)

In [55]:
path = '.'
files = [f for f in os.listdir(path) if os.path.isfile(os.path.join(path, f))]
print(files)

['smoking_household_smokers.XPT', 'preventive_aspirin_use.XPT', 'sleep_disorders.XPT', 'functioning.XPT', 'housing_characteristics.XPT', 'lecture1_pandas-added.ipynb.ipynb', 'medical_conditions.XPT', 'blood_pressure_cholesterol.XPT', 'hospital_utilization_access_to_care.XPT', 'helper.py', 'dermatology.XPT', 'mental_health_depression_screener.XPT', 'variables.csv', 'health_insurance.XPT', 'diabetic_df.csv', 'hepatitis.XPT', 'acculturation.XPT', 'modified_dataframe.csv', 'occupation.XPT', 'kidney_condition_urology.XPT', '.gitignore', 'oral_health.XPT', 'diet_behavior_nutrition.XPT', 'smoking_cigarette_use.XPT', 'early_childhood.XPT', 'immunization.XPT', 'income.XPT', 'prescription_medications.XPT', 'audiometry.XPT', 'diabetes.XPT', 'non_diabetic_df.csv', 'pesticide_use.XPT', 'physical_activity.XPT', 'weight_history.XPT', 'physical_activity_youth.XPT', 'smoking_recent_tobacco_use.XPT', 'alcohol_use.XPT', 'both_df.csv', 'current_health_status.XPT']

- Acculturation
- Alcohol use
- Audiometry
- Blood pressure & Cholesterol
- Current Health Status
- Dermatology
- Diabetes
- Diet Behavior & Nutrition
- Early Childhood
- Functioning
- Health Insurance
- Hepatitis
- Hospital Utilization & Access to Care
- Housing Characteristics
- Immunization
- Income
- Kidney Conditions - Urology
- Medical Conditions
- Mental Health - Depression Screener
- Occupation
- Oral Health
- Pesticide Use
- Physical Activity
- Physical Activity - Youth
- Prescription Medications
- Preventive Aspirine Use
- Sleep Disorders
- Smoking - Cigarette Use
- Smoking - Household Smokers
- Smoking - Recent Tobacco Use
- Weight History

In [56]:
# Import necessary libraries
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import os

# Directory con taining the .XPT files
data_dir = './'

# List of .XPT files for EDA
files_to_analyze = [
    'diabetes.XPT',
    'diet_behavior_nutrition.XPT',
    'pesticide_use.XPT',
    'alcohol_use.XPT',
    'mental_health_depression_screener.XPT',
    # ,'diabetes.XPT'
#     'blood_pressure_cholesterol.XPT',
#     'physical_activity.XPT',
#     'physical_activity_youth.XPT',
    'weight_history.XPT'
]

In [57]:


from sklearn.preprocessing import MinMaxScaler
import os
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
# Placeholder for merged data
merged_data = None




# Loop through each file and merge based on SEQN
for file in files_to_analyze:
    file_path = os.path.join(data_dir, file)
    df = pd.read_sas(file_path, format='xport')
    
    # Ensure SEQN column exists for merging
    if 'SEQN' in df.columns:
        if merged_data is None:
            merged_data = df  # Initialize with the first DataFrame
        else:
            merged_data = pd.merge(merged_data, df, on='SEQN', how='outer')
    else:
        print(f"Warning: 'SEQN' column not found in {file}")

# Ensure merged_data is not empty

    # Select only the rows where DIQ010 == 0 or DIQ010 == 1
filtered_data = merged_data[(merged_data['DIQ010'] == 2) | (merged_data['DIQ010'] == 1)]

# Drop the SEQN column after merging



diabetic_df = filtered_data.drop(columns=['SEQN']).loc[filtered_data['DIQ010'] == 1]  # modified
non_diabetic_df = filtered_data.drop(columns=['SEQN']).loc[filtered_data['DIQ010'] == 2]  # modified
both_df = filtered_data.drop(columns=['SEQN'])
print(merged_data.head())

path = './'
import pandas as pd
variables_df = pd.read_csv(path + 'variables.csv', encoding='ISO-8859-1')
# print(variables_df.head())
variable_dict = dict(zip(variables_df['Variable Name'], variables_df['Renamed_variables']))


# Plot withvar_nameon x-axis

# Plot with WHD010 on x-axis


# Example dictionary for column code meanings
# Read the variables.csv file

# Print the value of column A where the value of column B is "key"

       SEQN  DIQ010  DBQ010  DBD030  DBD041  DBD050  DBD055  DBD061  DBQ073A  \
0  130378.0     2.0     NaN     NaN     NaN     NaN     NaN     NaN      NaN
1  130379.0     2.0     NaN     NaN     NaN     NaN     NaN     NaN      NaN
2  130380.0     1.0     NaN     NaN     NaN     NaN     NaN     NaN      NaN
3  130381.0     2.0     1.0   273.0   273.0   456.0   212.0   395.0     10.0
4  130382.0     2.0     1.0    91.0    91.0   365.0   365.0   425.0      NaN

   DBQ073B  ...        DPQ050        DPQ060        DPQ070        DPQ080  \
0      NaN  ...           NaN           NaN           NaN           NaN
1      NaN  ...  5.397605e-79  5.397605e-79  5.397605e-79  5.397605e-79
2      NaN  ...  5.397605e-79  5.397605e-79  5.397605e-79  5.397605e-79
3      NaN  ...           NaN           NaN           NaN           NaN
4      NaN  ...           NaN           NaN           NaN           NaN

         DPQ090        DPQ100  WHD010  WHD020  WHD050  WHQ070
0           NaN           NaN    71.0   190.0   200.0     1.0
1  5.397605e-79  5.397605e-79    70.0   220.0   220.0     2.0
2  5.397605e-79  5.397605e-79    60.0   150.0   165.0     1.0
3           NaN           NaN     NaN     NaN     NaN     NaN
4           NaN           NaN     NaN     NaN     NaN     NaN

[5 rows x 52 columns]

In [61]:

# Assuming pie_chart, hist, and heatmap are defined in helper module

pie_chart(both_df, 'DIQ010')
hist(both_df, 'WHD010')
hist(both_df, 'WHD020')
hist(both_df, 'WHD050')
heatmap(both_df, 'WHD020', 'DIQ010')

plt.show()  # Ensure plots are displayed

NameError: name 'plt' is not defined

In [ ]:



save_dict(both_df, 'both_df')
save_dict(diabetic_df, 'diabetic_df')
save_dict(non_diabetic_df, 'non_diabetic_df')

   EverTold_Diabetes  EverBreastfed  AgeStoppedBreastfeeding  \
0                2.0            NaN                      NaN
1                2.0            NaN                      NaN
2                1.0            NaN                      NaN
3                2.0            1.0                    273.0
4                2.0            1.0                     91.0

   AgeFirstFedFormula  AgeStoppedDrinkingFormula  \
0                 NaN                        NaN
1                 NaN                        NaN
2                 NaN                        NaN
3               273.0                      456.0
4                91.0                      365.0

   AgeFirstFedOtherThanBreastMilk_inDays  AgeFirstFedMilk  \
0                                    NaN              NaN
1                                    NaN              NaN
2                                    NaN              NaN
3                                  212.0            395.0
4                                  365.0            425.0

   FirstTypeOfMilkFed_1  FirstTypeOfMilkFed_2  FirstTypeOfMilkFed_3  ...  \
0                   NaN                   NaN                   NaN  ...
1                   NaN                   NaN                   NaN  ...
2                   NaN                   NaN                   NaN  ...
3                  10.0                   NaN                   NaN  ...
4                   NaN                   NaN                   NaN  ...

   AppetiteChangesFrequency_2weeks  SelfEsteemIssuesFrequency_2weeks  \
0                              NaN                               NaN
1                     5.397605e-79                      5.397605e-79
2                     5.397605e-79                      5.397605e-79
3                              NaN                               NaN
4                              NaN                               NaN

   ConcentrationProblemsFrequency_2weeks  \
0                                    NaN
1                           5.397605e-79
2                           5.397605e-79
3                                    NaN
4                                    NaN

   MovementSpeechIssuesFrequency_2weeks  SuicidalThoughtsFrequency_2weeks  \
0                                   NaN                               NaN
1                          5.397605e-79                      5.397605e-79
2                          5.397605e-79                      5.397605e-79
3                                   NaN                               NaN
4                                   NaN                               NaN

   DifficultyInFunctioningStatus  CurrentHeight  CurrentWeight  \
0                            NaN           71.0          190.0
1                   5.397605e-79           70.0          220.0
2                   5.397605e-79           60.0          150.0
3                            NaN            NaN            NaN
4                            NaN            NaN            NaN

   WeightOneYearAgo  TriedToLoseWeight_Past12Months
0             200.0                             1.0
1             220.0                             2.0
2             165.0                             1.0
3               NaN                             NaN
4               NaN                             NaN

[5 rows x 51 columns]
    EverTold_Diabetes  EverBreastfed  AgeStoppedBreastfeeding  \
2                 1.0            NaN                      NaN
37                1.0            NaN                      NaN
53                1.0            NaN                      NaN
56                1.0            NaN                      NaN
60                1.0            NaN                      NaN

    AgeFirstFedFormula  AgeStoppedDrinkingFormula  \
2                  NaN                        NaN
37                 NaN                        NaN
53                 NaN                        NaN
56                 NaN                        NaN
60                 NaN                        NaN

    AgeFirstFedOtherThanBreastMilk_inDays  AgeFirstFedMilk  \
2                                     NaN              NaN
37                                    NaN              NaN
53                                    NaN              NaN
56                                    NaN              NaN
60                                    NaN              NaN

    FirstTypeOfMilkFed_1  FirstTypeOfMilkFed_2  FirstTypeOfMilkFed_3  ...  \
2                    NaN                   NaN                   NaN  ...
37                   NaN                   NaN                   NaN  ...
53                   NaN                   NaN                   NaN  ...
56                   NaN                   NaN                   NaN  ...
60                   NaN                   NaN                   NaN  ...

    AppetiteChangesFrequency_2weeks  SelfEsteemIssuesFrequency_2weeks  \
2                      5.397605e-79                      5.397605e-79
37                     3.000000e+00                      5.397605e-79
53                              NaN                               NaN
56                     5.397605e-79                      5.397605e-79
60                     5.397605e-79                      5.397605e-79

    ConcentrationProblemsFrequency_2weeks  \
2                            5.397605e-79
37                           3.000000e+00
53                                    NaN
56                           1.000000e+00
60                           5.397605e-79

    MovementSpeechIssuesFrequency_2weeks  SuicidalThoughtsFrequency_2weeks  \
2                           5.397605e-79                      5.397605e-79
37                          5.397605e-79                      5.397605e-79
53                                   NaN                               NaN
56                          5.397605e-79                      5.397605e-79
60                          5.397605e-79                      5.397605e-79

    DifficultyInFunctioningStatus  CurrentHeight  CurrentWeight  \
2                    5.397605e-79           60.0          150.0
37                   5.397605e-79           60.0          270.0
53                            NaN           59.0          165.0
56                   1.000000e+00           74.0          295.0
60                            NaN           68.0          160.0

    WeightOneYearAgo  TriedToLoseWeight_Past12Months
2              165.0                             1.0
37             240.0                             1.0
53             198.0                             2.0
56             295.0                             1.0
60             173.0                             1.0

[5 rows x 51 columns]
   EverTold_Diabetes  EverBreastfed  AgeStoppedBreastfeeding  \
0                2.0            NaN                      NaN
1                2.0            NaN                      NaN
3                2.0            1.0                    273.0
4                2.0            1.0                     91.0
5                2.0            2.0                      NaN

   AgeFirstFedFormula  AgeStoppedDrinkingFormula  \
0                 NaN                        NaN
1                 NaN                        NaN
3               273.0                      456.0
4                91.0                      365.0
5                 1.0                      365.0

   AgeFirstFedOtherThanBreastMilk_inDays  AgeFirstFedMilk  \
0                                    NaN              NaN
1                                    NaN              NaN
3                                  212.0            395.0
4                                  365.0            425.0
5                                  152.0            365.0

   FirstTypeOfMilkFed_1  FirstTypeOfMilkFed_2  FirstTypeOfMilkFed_3  ...  \
0                   NaN                   NaN                   NaN  ...
1                   NaN                   NaN                   NaN  ...
3                  10.0                   NaN                   NaN  ...
4                   NaN                   NaN                   NaN  ...
5                  10.0                   NaN                   NaN  ...

   AppetiteChangesFrequency_2weeks  SelfEsteemIssuesFrequency_2weeks  \
0                              NaN                               NaN
1                     5.397605e-79                      5.397605e-79
3                              NaN                               NaN
4                              NaN                               NaN
5                              NaN                               NaN

   ConcentrationProblemsFrequency_2weeks  \
0                                    NaN
1                           5.397605e-79
3                                    NaN
4                                    NaN
5                                    NaN

   MovementSpeechIssuesFrequency_2weeks  SuicidalThoughtsFrequency_2weeks  \
0                                   NaN                               NaN
1                          5.397605e-79                      5.397605e-79
3                                   NaN                               NaN
4                                   NaN                               NaN
5                                   NaN                               NaN

   DifficultyInFunctioningStatus  CurrentHeight  CurrentWeight  \
0                            NaN           71.0          190.0
1                   5.397605e-79           70.0          220.0
3                            NaN            NaN            NaN
4                            NaN            NaN            NaN
5                            NaN            NaN            NaN

   WeightOneYearAgo  TriedToLoseWeight_Past12Months
0             200.0                             1.0
1             220.0                             2.0
3               NaN                             NaN
4               NaN                             NaN
5               NaN                             NaN

[5 rows x 51 columns]

[More information on the variable names and values for "Audiometry.XPT"](https://wwwn.cdc.gov/Nchs/Nhanes/2021-2022/AUQ_L.htm])

In [7]:
# Import variables
with open('./variables.csv', mode='r', encoding='utf-8', errors='replace') as f:
    df_vars = pd.read_csv(f)

print(df_vars.head())

  Variable Name                               Variable Description  \
0        AUQ054  These next questions are about {your/SP's} hea...
1        AUQ101  How often {do you/does SP} have difficulty hea...
2        AUQ144  A hearing test by a specialist is one that is ...
3       AUQ410A  What are the main causes of {your/SP's} hearin...
4       AUQ410B  What are the main causes of {your/SP's} hearin...

                       Renamed_variables Data File Name Data File Description  \
0                    HearingStatus_NoAid          AUQ_L            Audiometry
1  DifficultyHearing_WithBackgroundNoise          AUQ_L            Audiometry
2             LastHearingTest_Specialist          AUQ_L            Audiometry
3                  reason_hearing_loss_A          AUQ_L            Audiometry
4                  reason_hearing_loss_B          AUQ_L            Audiometry

   Begin Year  EndYear      Component Use Constraints Unnamed: 9
0        2021     2023  Questionnaire             NaN        NaN
1        2021     2023  Questionnaire             NaN        NaN
2        2021     2023  Questionnaire             NaN        NaN
3        2021     2023  Questionnaire             NaN        NaN
4        2021     2023  Questionnaire             NaN        NaN

## **2. Basics of Pandas**

In [8]:
df_smoke = pd.read_sas(path + 'smoking_cigarette_use.XPT', format='xport')
df_smoke.head()

,SEQN,SMQ020,SMQ040,SMD641,SMD650,SMD100MN,SMQ621,SMD630,SMAQUEX2
0,130378.0,1.0,3.0,NaN,NaN,NaN,NaN,NaN,1.0
1,130379.0,1.0,3.0,NaN,NaN,NaN,NaN,NaN,1.0
2,130380.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0
3,130384.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0
4,130385.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0

### **2.1 Selecting columns and rows**

In [9]:
# Select a single column
df_smoke['SEQN']

# Select multiple columns
df_smoke[['SEQN', 'SMQ020']]

# Select a row by index
df_smoke.loc[1]

# Filter rows
df_smoke[df_smoke['SMQ020'] > 3]

df_vars[(df_vars['Variable Name'].isin(df_smoke.columns)) & (df_vars['Data File Name'] == 'SMQ_L')]

,Variable Name,Variable Description,Renamed_variables,Data File Name,Data File Description,Begin Year,EndYear,Component,Use Constraints,Unnamed: 9
210,SEQN,Respondent sequence number.,sequence_no,SMQ_L,Smoking - Cigarette Use,2021,2023,Questionnaire,NaN,NaN
211,SMAQUEX2,Questionnaire Mode Flag,QuestionnaireModeFlag,SMQ_L,Smoking - Cigarette Use,2021,2023,Questionnaire,NaN,NaN
212,SMD100MN,Do you usually smoke menthol or non-menthol ci...,SmokingTypeMenthol,SMQ_L,Smoking - Cigarette Use,2021,2023,Questionnaire,NaN,NaN
213,SMD630,How old were you when you smoked a whole cigar...,FirstCigaretteAge,SMQ_L,Smoking - Cigarette Use,2021,2023,Questionnaire,NaN,NaN
214,SMD641,On how many of the past 30 days did {you/SP} s...,CigarettesSmokedDays_30Days,SMQ_L,Smoking - Cigarette Use,2021,2023,Questionnaire,NaN,NaN
215,SMD650,"During the past 30 days, on the days that {you...",CigarettesPerDayOnSmokingDays_30Days,SMQ_L,Smoking - Cigarette Use,2021,2023,Questionnaire,NaN,NaN
216,SMQ020,These next questions are about cigarette smoki...,SmokedAtLeast100CigarettesInLife,SMQ_L,Smoking - Cigarette Use,2021,2023,Questionnaire,NaN,NaN
217,SMQ040,{Do you/Does SP} now smoke cigarettes?,CurrentCigaretteSmoking,SMQ_L,Smoking - Cigarette Use,2021,2023,Questionnaire,NaN,NaN
218,SMQ621,The following questions are about cigarette sm...,TotalCigarettesSmoked,SMQ_L,Smoking - Cigarette Use,2021,2023,Questionnaire,NaN,NaN

In [10]:
relevant_rows = df_vars[(df_vars['Variable Name'].isin(df_smoke.columns)) & (df_vars['Data File Name'] == 'SMQ_L')]

# Loop through the filtered rows and replace column names
df_smoke = df_smoke.rename(columns=dict(zip(relevant_rows['Variable Name'], relevant_rows['Renamed_variables'])))

df_smoke.head()

,sequence_no,SmokedAtLeast100CigarettesInLife,CurrentCigaretteSmoking,CigarettesSmokedDays_30Days,CigarettesPerDayOnSmokingDays_30Days,SmokingTypeMenthol,TotalCigarettesSmoked,FirstCigaretteAge,QuestionnaireModeFlag
0,130378.0,1.0,3.0,NaN,NaN,NaN,NaN,NaN,1.0
1,130379.0,1.0,3.0,NaN,NaN,NaN,NaN,NaN,1.0
2,130380.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0
3,130384.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0
4,130385.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0

In [11]:
df_smoke['csd_30'] = np.where(df_smoke['CigarettesSmokedDays_30Days'] < 31, df_smoke['CigarettesSmokedDays_30Days'], np.nan)

df_smoke

,sequence_no,SmokedAtLeast100CigarettesInLife,CurrentCigaretteSmoking,CigarettesSmokedDays_30Days,CigarettesPerDayOnSmokingDays_30Days,SmokingTypeMenthol,TotalCigarettesSmoked,FirstCigaretteAge,QuestionnaireModeFlag,csd_30
0,130378.0,1.0,3.0,NaN,NaN,NaN,NaN,NaN,1.0,NaN
1,130379.0,1.0,3.0,NaN,NaN,NaN,NaN,NaN,1.0,NaN
2,130380.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN
3,130384.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN
4,130385.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN
...,...,...,...,...,...,...,...,...,...,...
9010,142305.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN
9011,142307.0,1.0,3.0,NaN,NaN,NaN,NaN,NaN,1.0,NaN
9012,142308.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN
9013,142309.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN
9014,142310.0,1.0,3.0,NaN,NaN,NaN,NaN,NaN,1.0,NaN

### **2.2 Group By**

In [12]:
grouped = df_smoke.groupby('SmokedAtLeast100CigarettesInLife')['sequence_no'].count()
grouped

SmokedAtLeast100CigarettesInLife
1.0    3243
2.0    4878
7.0       7
9.0       7
Name: sequence_no, dtype: int64

In [13]:
grouped2 = df_smoke.groupby(['SmokedAtLeast100CigarettesInLife', 'CurrentCigaretteSmoking']).size()
grouped2

SmokedAtLeast100CigarettesInLife  CurrentCigaretteSmoking
1.0                               1.0                         952
                                  2.0                         238
                                  3.0                        2053
dtype: int64

In [14]:
grouped3 = df_smoke.groupby(['SmokedAtLeast100CigarettesInLife', 'CurrentCigaretteSmoking'])['csd_30'].mean()
grouped3

SmokedAtLeast100CigarettesInLife  CurrentCigaretteSmoking
1.0                               1.0                        30.000000
                                  2.0                        10.948498
                                  3.0                              NaN
Name: csd_30, dtype: float64

In [15]:
grouped4 = df_smoke.groupby(['SmokedAtLeast100CigarettesInLife', 'CurrentCigaretteSmoking']).agg({
    'csd_30': ['mean', 'count'],
})
grouped4

                                                             csd_30
                                                               mean count
SmokedAtLeast100CigarettesInLife CurrentCigaretteSmoking
1.0                              1.0                      30.000000    12
                                 2.0                      10.948498   233
                                 3.0                            NaN     0

### **2.3 Merging Dataframes**

- Inner join
- Outer join
- Left join
- Right join

In [25]:
# Inner Join: only rows with matching seq number will be kept
df_inner = pd.merge(df_smoke, df, left_on='sequence_no', right_on='SEQN', how='inner')
df_inner

,sequence_no,SmokedAtLeast100CigarettesInLife,CurrentCigaretteSmoking,CigarettesSmokedDays_30Days,CigarettesPerDayOnSmokingDays_30Days,SmokingTypeMenthol,TotalCigarettesSmoked,FirstCigaretteAge,QuestionnaireModeFlag,csd_30,...,AUQ410C,AUQ410D,AUQ410E,AUQ410F,AUQ410G,AUQ410H,AUQ410I,AUQ410J,AUQ144,AUQ101
0,130378.0,1.0,3.0,NaN,NaN,NaN,NaN,NaN,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,5.0
1,130379.0,1.0,3.0,NaN,NaN,NaN,NaN,NaN,1.0,NaN,...,NaN,NaN,NaN,NaN,7.0,NaN,9.0,NaN,1.0,3.0
2,130380.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,...,NaN,NaN,NaN,NaN,7.0,NaN,NaN,NaN,2.0,1.0
3,130384.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,4.0
4,130385.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9010,142305.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,2.0
9011,142307.0,1.0,3.0,NaN,NaN,NaN,NaN,NaN,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,4.0
9012,142308.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,4.0
9013,142309.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,5.0
9014,142310.0,1.0,3.0,NaN,NaN,NaN,NaN,NaN,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,9.0,NaN,5.0,4.0

### **2.4 Saving the dataframe**

In [29]:
# Save the DataFrame to a CSV file
df_smoke.to_csv('df_smoke.csv', index=False)

## **3. Task suggestions** (without specific order)

- Familiarize yourself with the source of the datasets. Assess the general trustworthiness of the source.
- Consider which and how many datasets you want to combine that are meaningful for the prediction task
- Combine the datasets. Remember that all datasets contain different IDs!
- Replace column labels with human understandable variables.
- Get an overview of the available data. Perform a EDA and try to understand what the relationships actually mean. When in doubt, use common knowledge and scientific resources to assess whether contained data might be faulty.
- Which features have a correlation to diabetes occurrence?
- Set up a gitlab/github project to work with.
- For the moment do not worry about missing values, we will talk about that during our next meeting.

Make sure that you are equipped next madatory meeting to talk about your findings, prepare figures to show the results of the EDA and be ready to explain how and why you combined the datasets you chose.

FileNotFoundError: [Errno 2] No such file or directory: 'dataset1.csv'